<?xml version="1.0"?>
<config>
    <modules>
        <OrganicInternet_FeaturedProducts>
            <version>0.0.1</version>
        </OrganicInternet_FeaturedProducts>
    </modules>
    <global>
        <blocks>
            <organicinternet_featuredproducts>
                <class>OrganicInternet_FeaturedProducts_Block</class>
            </organicinternet_featuredproducts>
        </blocks>
        <resources>
            <organicinternet_featuredproducts_setup>
                <setup>
                    <module>OrganicInternet_FeaturedProducts</module>
                    <class>OrganicInternet_FeaturedProducts_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </organicinternet_featuredproducts_setup>
            <organicinternet_featuredproducts_write>
                <use>core_write</use>
            </organicinternet_featuredproducts_write>
            <organicinternet_featuredproducts_read>
                <use>core_read</use>
            </organicinternet_featuredproducts_read>
        </resources>
    </global>
    <frontend>
        <translate>
            <modules>
                <OrganicInternet_FeaturedProducts>
                    <files>
                        <default>OrganicInternet_FeaturedProducts.csv</default>
                    </files>
                </OrganicInternet_FeaturedProducts>
            </modules>
        </translate>
        <layout>
            <updates>
                <organicinternet_featuredproducts>
                    <file>organicinternet_featuredproducts.xml</file>
                </organicinternet_featuredproducts>
            </updates>
        </layout>
    </frontend>
</config>
